.header {
  padding-top: 10px;
}

.title {
  font-family: 'PlayfairDisplay', Times, serif;
  font-size: 3rem;
}

.navigation {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  position: relative;

  li {
    margin: 0 1rem;
  }

  @media (max-width: 1279.98px) {
    margin-top: 1rem;
  }
}

.header .container {
  max-width: 144rem;
  display: flex;
  justify-content: space-between;
}
