.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 60px;
  overflow: hidden;
  position: relative;

  @media (max-width: 1279.98px) {
    margin-top: 9px;
  }

  &__burger-icon {
    display: none;
    transition: 0.3s;

    div {
      border: 1px solid $color-primary;
      background-color: $color-primary;
    }

    @media (max-width: 767.98px) {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      width: 30px;
      height: 23px;
      cursor: pointer;
      margin-right: 43px;
      margin-top: 21px;
      position: relative;
      z-index: 99;
    }
  }
}

.mobile-menu {
  display: none;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;

  @media (max-width: 767.98px) {
    display: block;
  }
}

.blackout {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  opacity: 0;
}

.blackout--active {
  display: block;
  position: fixed;
  opacity: 0.5;
}

.mobile-menu__items {
  display: flex;
  position: absolute;
  width: 320px;
  height: 100%;
  top: 0;
  right: -320px;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 40px;
  background-color: $color-dark-3xl;
  padding-top: 150px;
  z-index: 10;
  transition: 0.5s;

  li a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
    color: $color-dark-s;
    padding-bottom: 3px;

    &:hover {
      color: $color-light-s;
    }

    &.active {
      border-bottom: 3px solid $color-primary;
    }
  }
}

.mobile-menu__items--active {
  right: 0;
}
